@import "../../variables.sass"

nav
  position: absolute
  z-index: 10000000
  height: 80px
  width: 100vw
  background: #fff
  box-shadow: 0 5px 40px -10px rgba(0,0,0,0.4)
  padding: 0 20px
  box-sizing: border-box

.nav-container
  height: 100%
  width: 100%
  display: flex
  justify-content: center
  align-items: center

.logged-in-state
  display: flex
  align-items: center

  .separator
    width: 2px
    height: 20px
    background-color: rgba(0, 0, 0, 0.4)
    margin: 0 16px

  .logout-btn
    background-color: transparent
    border: 1px solid $primary-color
    outline: none
    color: $primary-color
    padding: 10px 12px
    border-radius: 6px
    transition: all 0.2s ease-out
    cursor: pointer
  
    &:hover
      background-color: $primary-color
      color: #fff

.login-btn
  cursor: pointer

  img
    height: 35px