<div class="tint" (click)="closeViewer()"></div>
<div *ngIf="mainArticle" class="viewer-container">
  <button class="close-btn" (click)="closeViewer()"></button>
  <div class="main-article">
    <div class="header">
      <span *ngIf="mainArticle.nearPlace" class="near-place">Near <b>{{ mainArticle.nearPlace.name }}</b></span>
      <h6 class="source">{{ mainArticle.source }}</h6>
      <h4 class="title">{{ mainArticle.title }}</h4>
      <h6 class="author">By {{ mainArticle.author }}</h6>
    </div>
    <span class="separator"></span>
    <div class="content">
      <p class="description">{{ mainArticle.description }}</p>
      <p class="preview">{{ mainArticle.content }}</p>
      <div class="read-more-container">
        <a href="{{ mainArticle.url }}" target="_blank" class="read-more">Read More</a>
      </div>
    </div>
  </div>
</div>
<div *ngIf="nearArticles.length" class="related-articles">
  <h5 class="header">Stories Nearby</h5>
  <div class="articles">
    <div *ngFor="let article of nearArticles" class="article">
      <div class="container">
        <div class="content">
          <h6 class="title">{{ article.title }}</h6>
          <p class="description">{{ article.description }}</p>
        </div>
        <div class="article-img">
          <img src="{{ article.urlToImage }}" alt="">
        </div>
      </div>
      <div class="read-more-container">
        <a href="{{ article.url }}" target="_blank" class="read-more">Read More</a>
      </div>
    </div>
  </div>
</div>